.footer{
    background-color: #FAFAFB;
    display: flex;
    flex-direction: column;
    padding: 5rem 5rem 2.5rem;
}

.footer-container{
    display: flex;
    justify-content: space-between;
}

.footer-text img{
    margin-bottom: 1.5rem;
}

.footer-text p{
    font-size: 1.125rem;
    color: var(--neutral-600);
}

.footer-links-container{
    display: flex;
    gap: 4.43rem;
}

.footer-links-columns{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-links-columns h2{
    margin-bottom: 1rem;
    font-size: 1.125rem;
    color: var(--neutral-900);
    font-weight: var(--medium );
}

.footer-links-columns a{
    text-decoration: none;
    color: var(--neutral-600);
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 5.65rem;
}

.footer-bottom p, a{
    font-size: 0.875rem;
    color: var(--neutral-600);
    text-decoration: none;
}

.footer-bottom-links{
    display: flex;
    gap: 1.5rem;
}