.img-container{
    position: relative;
    height: 1170px;

    background-image: url("../img/header/house-bg.png");
    background-size: cover;
    background-position: center;

}

.header-nav{
    padding: 20px 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-menu{
    background-color: var(--white);
    padding: 8px 18px;
    border-radius: 25px;
}

.header-nav-menu img{
    width: 15px;
    margin-right: 4px;
}

.header-nav-menu button{
    font-weight: var(--font-medium);
    color: var(--neutral-900);
}

.header-nav-btns{
    display: flex;
    gap: 24px;
}

.header-nav-btns button{
    color: var(--white);
}




