.img-container{
    position: relative;
    height: 73.125rem;

    background-image: url("../img/header/house-bg.png");
    background-size: cover;
    background-position: center;
}

.header-nav{
    padding: 1.25rem 2.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-menu{
    background-color: var(--white);
    padding: 0.5rem 1.125rem;
    border-radius: 1.56rem;
}

.header-nav-menu img{
    width: 0.93rem;
    margin-right: 0.25rem;
}

.header-nav-menu button{
    font-weight: var(--font-medium);
    color: var(--neutral-900);
}

.header-nav-btns{
    display: flex;
    gap: 1.5rem;
}

.header-nav-btns button{
    color: var(--white);
}




