.infos{
    display: grid;
    grid-template-columns: 50% 50%;
}

.infos-container{
    margin: 5rem 5rem 7.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.infos-text h3{
    font-size: 1.5rem;
    font-weight: var(--font-medium);
    color: var(--neutral-900);
    margin-bottom: 1.5rem;
}

.infos-text p{
    font-size: 1.125rem;
    color: var(--neutral-600);
}