.statistics{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 7.5rem;
    margin-bottom: 5rem;
}

.statistics h2{
    font-size: 2.75rem;
    font-weight: var(--font-medium);
    color: var(--neutral-900);
    margin-left: 5rem;
}

.statistics-info{
    margin-right: 5rem;
    width: 42.5rem;
}

.statistics-info-text{
    color: var(--neutral-600);
    font-size: 1.125rem;
    margin-bottom: 5rem;
}

.statistics-info-data{
    display: flex;
}

.statistics-info-data-container{
    width: 14.125rem;
}

.statistics-info-data-numbers{
    font-size: 2.25rem;
    color: var(--neutral-900);
    font-weight: var(--font-medium);
    margin-bottom: 0.75rem;
}

.statistics-info-data-info{
    font-size: 1.125rem;
    color: var(--neutral-600);
}